<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TriniTime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>680E5C8F1B94C31E00C80894</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>680E5CAB1B94C32000C80894</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>680E5CB61B94C32100C80894</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
